* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    background: linear-gradient(190deg, #85b3fd, #f6d365);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}

form button{
    color: #85b3fd;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: #fff;
    background: #85b3fd;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-text-empty {
    font-size: 1.5rem;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    border: 1px solid lightgrey;
    position: relative;
}

.todo li {
    flex: 1;
}

.todo-item:focus,
.todo-input:focus {
    outline:none;  
}

.trash-btn,
.edit-btn,
.complete-btn {
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all .5s ease;
}

.complete-btn {
    background: #18940d;
}

.trash-btn {
    background: #e21d1d;
}

.edit-btn {
    background: #ffa600;
}

.editActive  {
    transform: scale(1.2);
    border: 1px solid white;
}

.complete-btn:hover .fa-check,
.trash-btn:hover .fa-trash,
.edit-btn:hover .fa-edit {
    transform: scale(1.5);
    transition: all .5s ease;
}

.todo-item {
    padding: 0 .5rem;
}

.todo-item-number {
    position: absolute;
    left: -12%;
}

.fa-trash,
.fa-check,
.fa-edit {
    pointer-events: none;
    transition: all 1s ease;
    opacity: 1;

}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.delete {
    transform: translateX(-15rem);
    opacity: 0;
    transition: all .5s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #85b3fd;
    cursor: pointer;
    width: 11rem;
    padding: 1.15rem;
    font-size: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.fa-arrow-down {
    position: absolute;
    background: #fff;
    color: #85b3fd;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 1rem;
    font-size: 1.5rem;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover .fa-arrow-down {
    background: #85b3fd;
    color: #fff;
}
